<div class="col-md-6 col-md-offset-3">
  <div class="new-book-form">

    <h1>Edit Musician</h1>

    <%= simple_form_for :musician, url: musician_path(@musician), method: :patch, html: {class: "clearfix"} do |f| %>
      <% if @musician.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@musician.errors.count, "error") %> prohibited
            this record from being saved:
          </h2>
          <ul>
            <% @musician.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-input'>
        <h5>Select genre</h5>
        <%= f.select :genre_id, @genres, input_html: { class: "form-control" } %>
        <%= f.input :name,
                    label: 'Name of Musician',
                    required: false,
                    input_html: { class: 'form-control' } %>
        <%= f.input :surname, input_html: { class: 'form-control' }, required: false %>
        <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                                    end_year: Date.today.year - 12,
                                    order: [:month, :year, :day],
                                    required: false %>
        <%= f.input :description, as: :text, required: false %>
        <%= f.input :biography, as: :text, required: false %>
        <%= f.input :discography, as: :text, required: false %>
        <%= f.input :awards, as: :text, required: false %>
        <%= f.input :avatar, as: :file, label: 'Select Avatar' %> <br>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
