<h1 class="current-category"><%= params[:genre] %></h1>

<% if @musicians.count == 0 %>
  <h1>There are no musicians currently in this genre</h1>
<% else %>
  <div class="row">
    <% @musicians.each do |musician| %>
      <div class="col-md-3">
        <a href="/musicians/<%= musician.id %>">
          <%= image_tag musician.avatar.url(:musician_index), class: "musician" %>
          <p><%= musician.name %>, <%= musician.surname %></p>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate @posts %>
