<div class="row">
  <div class="col-md-4">
    <%= image_tag @musician.avatar.url(:musician_show), class: "musican_show" %>
  </div>
  <div class="col-md-8">
    <div class="musician-info">
      <h3 class="musician-author"><span>Name: </span><%= @musician.name %></h3>
      <h3 class="musician-author"><span>Surname: </span><%= @musician.surname %></h3>
      <h3 class="musician-author"><span>Date of Birth: </span><%= @musician.date_of_birth.strftime('%d-%B-%Y') %></h3>
      <p class="musician-desc"><%= @musician.description %></p>
    </div>
  </div>
</div>

<div class="links btn-group">
  <%= link_to "Back", root_path, class: "btn btn-custom" %>

  <% if user_signed_in? %>
    <% if @musician.user_id == current_user.id %>
      <%= link_to "Edit", edit_musician_path(@musician), class: "btn btn-custom" %>
      <%= link_to "Delete", musician_path(@musician),
                            method: :delete,
                            data: { confirm: "Are you sure?" },
                            class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>
